#%RAML 0.8
---
title: Twilio API
version: "2010-04-01"
baseUri: https://api.twilio.com/{version}
#protocols: [ HTTPS ]
mediaType: application/json
  # - application/xml
  # - text/html
documentation:
  - title: Request Formats
    content: |
      Credentials
      -----------
      
      All requests to Twilio's REST API require you to authenticate using [HTTP basic auth](http://en.wikipedia.org/wiki/Basic_access_authentication) to convey your identity. The username is your AccountSid (a 34 character string, starting with the letters AC). The password is your AuthToken. Your AccountSid and AuthToken are on the [Account Dashboard](http://www.twilio.com/user/account/) page.
      
      Most HTTP clients (including web-browsers) present a dialog or prompt for you to provide a username and password for HTTP basic auth. Most clients will also allow you to provide credentials in the URL itself. For example:
      
      ```
      https://{AccountSid}:{AuthToken}@api.twilio.com/2010-04-01/Accounts
      ```
      
      Retrieving Resources with the HTTP GET Method
      ---------------------------------------------
      
      You can retrieve a representation of a resource by GETting its url. The easiest way to do this is to copy and paste a URL into your web browser's address bar.
      
      ### Possible GET Response Status Codes
      
      * 200 OK: The request was successful and the response body contains the representation requested.
      * 302 FOUND: A common redirect response; you can GET the representation at the URI in the Location response header.
      * 304 NOT MODIFIED: Your client's cached version of the representation is still up to date.
      * 401 UNAUTHORIZED: The supplied credentials, if any, are not sufficient to access the resource.
      * 404 NOT FOUND: You know this one.
      * 429 TOO MANY REQUESTS: Your application is sending too many simultaneous requests.
      * 500 SERVER ERROR: We couldn't return the representation due to an internal server error.
      * 503 SERVICE UNAVAILABLE: We are temporarily unable to return the representation. Please wait for a bit and try again.
      
      Creating or Updating Resources with the HTTP POST and PUT Methods
      -----------------------------------------------------------------
      
      Creating or updating a resource involves performing an HTTP PUT or HTTP POST to a resource URI. In the PUT or POST, you represent the properties of the object you wish to update as form urlencoded key/value pairs. Don't worry, this is already the way browsers encode POSTs by default. But be sure to set the HTTP Content-Type header to "application/x-www-form-urlencoded" for your requests if you are writing your own client.
      
      ### Possible POST or PUT Response Status Codes
      
      * 200 OK: The request was successful, we updated the resource and the response body contains the representation.
      * 201 CREATED: The request was successful, we created a new resource and the response body contains the representation.
      * 400 BAD REQUEST: The data given in the POST or PUT failed validation. Inspect the response body for details.
      * 401 UNAUTHORIZED: The supplied credentials, if any, are not sufficient to create or update the resource.
      * 404 NOT FOUND: You know this one.
      * 405 METHOD NOT ALLOWED: You can't POST or PUT to the resource.
      * 429 TOO MANY REQUESTS: Your application is sending too many simultaneous requests.
      * 500 SERVER ERROR: We couldn't create or update the resource. Please try again.
      
      Deleting Resources with the HTTP DELETE Method
      ----------------------------------------------
      
      To delete a resource make an HTTP DELETE request to the resource's URL. Not all Twilio REST API resources support DELETE.
      
      ### Possible DELETE Response Status Codes
      
      * 204 OK: The request was successful; the resource was deleted.
      * 401 UNAUTHORIZED: The supplied credentials, if any, are not sufficient to delete the resource.
      * 404 NOT FOUND: You know this one.
      * 405 METHOD NOT ALLOWED: You can't DELETE the resource.
      * 429 TOO MANY REQUESTS: Your application is sending too many simultaneous requests.
      * 500 SERVER ERROR: We couldn't delete the resource. Please try again.
      
      HTTP Method Overloading
      -----------------------
      
      Twilio's REST API uses HTTP GET, POST, PUT and DELETE methods. Since some HTTP clients do not support methods PUT and DELETE, you can simulate them via POST by appending the query string parameter _method (yes, underscore method) to a resource URL. Valid values are PUT and DELETE.
      
      For example, if you want to perform a DELETE request on a particular phone number resource you could:
      
      ```
      DELETE /2010-04-01/Accounts/AC30947.../IncomingPhoneNumbers/PN12345567789AFE4433
      ```
      
      But if your client is only capable of GET and POST, then you could perform a POST with a _method query string variable to achieve the same result:
      
      ```
      POST /2010-04-01/Accounts/AC30947.../IncomingPhoneNumbers/PN12345567789AFE4433?_method=DELETE
      ```
resourceTypes:
  - base:
      get?:
        responses:
          200:
            description: |
              The request was successful and the response body contains the representation
              requested.
          302:
            description: |
              A common redirect response; you can GET the representation at the URI
              in the Location response header.
          304:
            description: |
              Your client's cached version of the representation is still up to date.
          401:
            description: |
              The supplied credentials, if any, are not sufficient to access the resource.
          404:
            description: NOT FOUND.
          429:
            description: Your application is sending too many simultaneous requests.
          500:
            description: |
              We couldn't return the representation due to an internal server error.
          503:
            description: |
              We are temporarily unable to return the representation. Please wait for
              a bit and try again.
      post?: &postResponses
        responses:
          200:
            description: |
              The request was successful, we updated the resource and the response
              body contains the representation.
          201:
            description: |
              The request was successful, we created a new resource and the response
              body contains the representation.
          400:
            description: |
              The data given in the POST or PUT failed validation. Inspect the response
              body for details.
          401:
            description: |
              The supplied credentials, if any, are not sufficient to create or update
              the resource.
          404:
            description: NOT FOUND.
          405:
            description: You can't POST or PUT to the resource.
          429:
            description: Your application is sending too many simultaneous requests.
          500:
            description: |
              We couldn't return the representation due to an internal server error.
      put?: *postResponses
      delete?:
        responses:
          204:
            description: The request was successful; the resource was deleted.
          401:
            description: |
              The supplied credentials, if any, are not sufficient to delete the resource.
          404:
            description: NOT FOUND.
          405:
            description: You can't DELETE the resource.
          429:
            description: Your application is sending too many simultaneous requests.
          500:
            description: We couldn't delete the resource. Please try again.
  - mediaTypeExt:
      type: base
      uriParameters:
        mediaTypeExtension:
          enum: [ .json, .xml ]
          description: Use .json to specify application/json or .xml to specify text/xml
traits:
  - customizable:
      body:
        application/x-www-form-urlencoded:
          formParameters:
            ApiVersion:
              description: |
                Requests to this application's URLs will start a new TwiML
                session with this API version. Either 2010-04-01 or 2008-08-01.
              enum:
                - '2010-04-01'
                - '2008-08-01'
            VoiceUrl:
              description: |
                The URL that Twilio should request when somebody dials a phone
                number assigned to this application.
              type: string
            VoiceMethod:
              description: |
                The HTTP method that should be used to request the VoiceUrl.
                Either GET or POST.
              enum: [ GET, POST ]
            VoiceFallbackUrl:
              description: |
                A URL that Twilio will request if an error occurs requesting
                or executing the TwiML defined by VoiceUrl.
              type: string
            VoiceFallbackMethod:
              description: |
                The HTTP method that should be used to request the VoiceFallbackUrl.
                Either GET or POST.
              enum: [ GET, POST ]
            StatusCallback:
              description: |
                The URL that Twilio will request to pass status parameters (such
                as call ended) to your application.
              type: string
            StatusCallbackMethod:
              description: |
                The HTTP method Twilio will use to make requests to the
                StatusCallback URL. Either GET or POST.
              enum: [ GET, POST ]
            VoiceCallerIdLookup:
              description: |
                Do a lookup of a caller's name from the CNAM database and post it
                to your app. Either true or false.
              type: string
            SmsUrl:
              description: |
                The URL that Twilio should request when somebody sends an SMS to
                a phone number assigned to this application.
              type: string
            SmsMethod:
              description: |
                The HTTP method that should be used to request the SmsUrl.
                Either GET or POST.
              enum: [ GET, POST ]
            SmsFallbackUrl:
              description: |
                A URL that Twilio will request if an error occurs requesting or
                executing the TwiML defined by SmsUrl.
              type: string
            SmsFallbackMethod:
              description: |
                The HTTP method that should be used to request the SmsFallbackUrl.
                Either GET or POST.
              enum: [ GET, POST ]
            SmsStatusCallback:
              description: |
                Twilio will make a POST request to this URL to pass status parameters
                (such as sent or failed) to your application if you specify this
                application's Sid as the ApplicationSid on an outgoing SMS request.
              type: string
/Accounts:
  type: base
  get:
    description: |
      Retrieve a list of the Account resources belonging to the account used to make the
      API request. This list will include that Account as well.
    queryParameters:
      FriendlyName:
        type: string
        description: |
          Only return the Account resources with friendly names that exactly match this name.
      status:
        type: string
        description: |
          Only return Account resources with the given status. Can be closed, suspended or active.
        enum: [ closed, suspended, active ]
    responses:
      200:
        body:
          application/json:
            schema: |
              {
                  "properties": {
                      "accounts": {
                          "items": {
                              "properties": {
                                  "date_created": {
                                      "description": "The date that this account was created, in GMT in RFC 2822 format",
                                      "required": false,
                                      "type": "string"
                                  },
                                  "date_updated": {
                                      "description": "The date that this account was last updated, in GMT in RFC 2822 format.",
                                      "required": false,
                                      "type": "string"
                                  },
                                  "friendly_name": {
                                      "description": "A human readable description of this account, up to 64 characters long. By default the FriendlyName is your email address.",
                                      "required": false,
                                      "type": "string"
                                  },
                                  "sid": {
                                      "description": "A 34 character string that uniquely identifies this account.",
                                      "required": false,
                                      "type": "string"
                                  },
                                  "status": {
                                      "description": "The status of this account. Usually active, but can be suspended or closed.",
                                      "required": false,
                                      "type": "string"
                                  },
                                  "type": {
                                      "description": "The type of this account. Either Trial or Full if you've upgraded.",
                                      "required": false,
                                      "type": "string"
                                  }
                              },
                              "required": false,
                              "type": "object"
                          },
                          "required": false,
                          "type": "array"
                      },
                      "end": {
                          "required": false,
                          "type": "number"
                      },
                      "first_page_uri": {
                          "required": false,
                          "type": "string"
                      },
                      "last_page_uri": {
                          "required": false,
                          "type": "string"
                      },
                      "next_page_uri": {
                          "required": false,
                          "type": "null"
                      },
                      "num_pages": {
                          "required": false,
                          "type": "number"
                      },
                      "page": {
                          "required": false,
                          "type": "number"
                      },
                      "page_size": {
                          "required": false,
                          "type": "number"
                      },
                      "previous_page_uri": {
                          "required": false,
                          "type": "null"
                      },
                      "start": {
                          "required": false,
                          "type": "number"
                      },
                      "total": {
                          "required": false,
                          "type": "number"
                      },
                      "uri": {
                          "required": false,
                          "type": "string"
                      }
                  },
                  "required": false,
                  "type": "object"
              }
            example: |
              {
                "page": 0,
                "num_pages": 1,
                "page_size": 50,
                "total": 1,
                "start": 0,
                "end": 1,
                "uri": "\/2010-04-01\/Accounts.json",
                "first_page_uri": "\/2010-04-01\/Accounts.json?Page=0&PageSize=50",
                "previous_page_uri": null,
                "next_page_uri": null,
                "last_page_uri": "\/2010-04-01\/Accounts.json?Page=0&PageSize=50",
                "accounts": [{
                  "sid":"AC39b8702b46fbbbf3f2956a63ee851a01",
                  "friendly_name": "Chieftain",
                  "status": "active",
                  "auth_token": "redacted",
                  "date_created": "Tue, 12 Jan 2010 04:41:09 +0000",
                  "date_updated": "Tue, 25 Jan 2011 07:24:36 +0000",
                  "type": "Full",
                  "uri": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01.json",
                  "subresource_uris": {
                    "available_phone_numbers": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/AvailablePhoneNumbers.json",
                    "calls": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Calls.json",
                    "conferences": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Conferences.json",
                    "incoming_phone_numbers": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/IncomingPhoneNumbers.json",
                    "notifications": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Notifications.json",
                    "outgoing_caller_ids": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/OutgoingCallerIds.json",
                    "recordings": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Recordings.json",
                    "sandbox": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Sandbox.json",
                    "sms_messages": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/SMS\/Messages.json",
                    "transcriptions": "\/2010-04-01\/Accounts\/AC39b8702b46fbbbf3f2956a63ee851a01\/Transcriptions.json"}
                  }
                }]
              }
  post:
    description: |
      Create a new Account instance resource as a subaccount of the one used to make the request. See
      Creating Subaccounts for more information.
    body:
      application/x-www-form-urlencoded:
        formParameters:
          FriendlyName:
            type: string
            description: |
              A human readable description of the new subaccount, up to 64 characters. Defaults
              to "SubAccount Created at {YYYY-MM-DD HH:MM meridian}".
            required: true
  /{AccountSid}:
    uriParameters:
      AccountSid:
        type: string
        description: A 34 character string that uniquely identifies this account.
        maxLength: 34
        minLength: 34
    type: base
    get:
      description: Returns a representation of an account.
      responses:
        200:
          body:
            application/json:
              schema: |
                {
                    "properties": {
                        "date_created": {
                            "description": "The date that this account was created, in GMT in RFC 2822 format",
                            "required": false,
                            "type": "string"
                        },
                        "date_updated": {
                            "description": "The date that this account was last updated, in GMT in RFC 2822 format.",
                            "required": false,
                            "type": "string"
                        },
                        "friendly_name": {
                            "description": "A human readable description of this account, up to 64 characters long. By default the FriendlyName is your email address.",
                            "required": false,
                            "type": "string"
                        },
                        "sid": {
                            "description": "A 34 character string that uniquely identifies this account.",
                            "required": false,
                            "type": "string"
                        },
                        "status": {
                            "description": "The status of this account. Usually active, but can be suspended or closed.",
                            "required": false,
                            "type": "string"
                        },
                        "type": {
                            "description": "The type of this account. Either Trial or Full if you've upgraded.",
                            "required": false,
                            "type": "string"
                        }
                    },
                    "required": false,
                    "type": "object"
                }
              example: |
                {
                    "sid": "ACba8bc05eacf94afdae398e642c9cc32d",
                    "friendly_name": "Do you like my friendly name?",
                    "type": "Full",
                    "status": "active",
                    "date_created": "Wed, 04 Aug 2010 21:37:41 +0000",
                    "date_updated": "Fri, 06 Aug 2010 01:15:02 +0000",
                    "auth_token": "redacted",
                    "uri": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d.json",
                    "subresource_uris": {
                        "available_phone_numbers": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/AvailablePhoneNumbers.json",
                        "calls": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Calls.json",
                        "conferences": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Conferences.json",
                        "incoming_phone_numbers": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/IncomingPhoneNumbers.json",
                        "notifications": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Notifications.json",
                        "outgoing_caller_ids": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/OutgoingCallerIds.json",
                        "recordings": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Recordings.json",
                        "sandbox": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Sandbox.json",
                        "sms_messages": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/SMS\/Messages.json",
                        "transcriptions": "\/2010-04-01\/Accounts\/ACba8bc05eacf94afdae398e642c9cc32d\/Transcriptions.json"
                    }
                }
    post:
      description: Allows you to modify the properties of an account.
      body:
        application/x-www-form-urlencoded:
          formParameters:
            FriendlyName:
              description: Update the human-readable description of this account.
              type: string
            Status:
              type: string
              description: |
                Alter the status of this account: use closed to irreversibly close this account,
                suspended to temporarily suspend it, or active to reactivate it.
              enum: [ closed, suspended, active ]
    # SMS
    /SMS:
      /Messages{mediaTypeExtension}:
        type: mediaTypeExt
        get:
          description: |
            Returns a list of SMS messages associated with your account.
          queryParameters:
            To:
              type: string
              description: Only show SMS messages to this phone number.
            From:
              type: string
              description: Only show SMS messages from this phone number.
            DateSent:
              type: string
              description: |
                Only show SMS messages sent on this date (in GMT format), given as
                YYYY-MM-DD. Example: DateSent=2009-07-06. You can also specify
                inequality, such as DateSent<=YYYY-MM-DD for SMS messages that
                were sent on or before midnight on a date, and DateSent>=YYYY-MM-DD
                for SMS messages sent on or after midnight on a date.
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                        "start": 0,
                        "total": 261,
                        "num_pages": 6,
                        "page": 0,
                        "page_size": 50,
                        "end": 49,
                        "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json",
                        "first_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=0&PageSize=50",
                        "last_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=5&PageSize=50",
                        "next_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=1&PageSize=50",
                        "previous_page_uri": null,
                        "sms_messages": [
                            {
                                "account_sid": "AC5ef872f6da5a21de157d80997a64bd33",
                                "api_version": "2008-08-01",
                                "body": "Hey Jenny why aren't you returning my calls?",
                                "date_created": "Mon, 16 Aug 2010 03:45:01 +0000",
                                "date_sent": "Mon, 16 Aug 2010 03:45:03 +0000",
                                "date_updated": "Mon, 16 Aug 2010 03:45:03 +0000",
                                "direction": "outbound-api",
                                "from": "+14158141829",
                                "price": "-0.02000",
                                "sid": "SM800f449d0399ed014aae2bcc0cc2f2ec",
                                "status": "sent",
                                "to": "+14159978453",
                                "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages/SM800f449d0399ed014aae2bcc0cc2f2ec.json"
                            }
                        ]
                    }
                  schema: |
                    {
                        "": "http://json-schema.org/draft-03/schema",
                        "type": "object",
                        "properties": {
                            "end": {
                                "type": "integer"
                            },
                            "first_page_uri": {
                                "type": "string"
                            },
                            "last_page_uri": {
                                "type": "string"
                            },
                            "next_page_uri": {
                                "type": "string"
                            },
                            "num_pages": {
                                "type": "integer"
                            },
                            "page": {
                                "type": "integer"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "previous_page_uri": {
                                "type": "string"
                            },
                            "start": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            },
                            "uri": {
                                "type": "string"
                            },
                            "sms_messages": [
                                {
                                    "account_sid": {
                                        "type": "string"
                                    },
                                    "api_version": {
                                        "type": "string"
                                    },
                                    "body": {
                                        "type": "string"
                                    },
                                    "date_created": {
                                        "type": "string"
                                    },
                                    "date_sent": {
                                        "type": "string"
                                    },
                                    "date_updated": {
                                        "type": "string"
                                    },
                                    "direction": {
                                        "type": "string"
                                    },
                                    "from": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "string"
                                    },
                                    "price_unit": {
                                        "type": "string"
                                    },
                                    "sid": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "enum": [
                                            "queued",
                                            "sending",
                                            "sent",
                                            "failed",
                                            "received"
                                        ]
                                    },
                                    "to": {
                                        "type": "string"
                                    },
                                    "uri": {
                                        "type": "string"
                                    }
                                }
                            ],
                            "type": "array"
                        }
                    }
        post:
          description: |
            # Rate limiting
            You can queue as many messages as you like, however Twilio will only send
            out SMS messages at a rate of one message per phone number per second. It
            is not possible to adjust this rate, and it does not vary based on the
            country in which your number is located.
            If you anticipate the need to send out a large number of messages
            quickly (a time-limited promotion, for example) or at a rate greater than
            one message per second, you can purchase additional numbers, increasing
            your outbound capacity.
            Short codes are not subject to the same rate limits as long-code numbers
            and may be a better option for you. Check out our short code FAQ or talk
            to our sales team to determine what is best for you.
            ------
            # Handling SMS Replies
            By specifying an SMS URL for your SMS enabled Twilio phone number, Twilio
            will make a request to your application to notify you when someone replies
            to a message you send. Twilio's request and your corresponding response are
            covered in the SMS portion of the TwiML documentation.
          body:
            application/x-www-form-urlencoded:
              formParameters:
                From:
                  type: string
                  description: |
                    A Twilio phone number enabled for SMS. Only phone numbers or short
                    codes purchased from Twilio work here; you cannot (for example) spoof
                    SMS messages from your own cell phone number.
                  required: true
                To:
                  type: string
                  description: |
                    The destination phone number. Format with a '+' and country code e.g.,
                    +16175551212 (E.164 format). For 'To' numbers without a '+', Twilio
                    will use the same country code as the 'From' number. Twilio will also
                    attempt to handle locally formatted numbers for that country code (e.g.
                    (415) 555-1212 for US, 07400123456 for GB). If you are sending to a
                    different country than the 'From' number, you must include a '+' and
                    the country code to ensure proper delivery.
                  required: true
                Body:
                  type: string
                  description: |
                    The text of the message you want to send, limited to 160 characters.
                  required: true
                StatusCallback:
                  type: string
                  description: |
                    A URL that Twilio will POST to when your message is processed. Twilio will
                    POST the SmsSid as well as SmsStatus=sent or SmsStatus=failed.
                ApplicationSid:
                  type: string
                  description: |
                    Twilio will POST SmsSid as well as SmsStatus=sent or SmsStatus=failed to the
                    URL in the SmsStatusCallback property of this Application. If the
                    StatusCallback parameter above is also passed, the Application's
                    SmsStatusCallback parameter will take precedence.
        /{SMSMessageSid}{mediaTypeExtension}:
          type: mediaTypeExt
          uriParameters:
            SMSMessageSid:
              type: string
              description: |
                A 34 character string that uniquely identifies the SMS message.
          get:
            description: |
              Returns a single SMS message specified by the provided {SMSMessageSid}.
            responses:
              200:
                body:
                  application/json:
                    example: |
                      {
                          "account_sid": "AC5ef872f6da5a21de157d80997a64bd33",
                          "api_version": "2008-08-01",
                          "body": "Hey Jenny why aren't you returning my calls?",
                          "date_created": "Mon, 16 Aug 2010 03:45:01 +0000",
                          "date_sent": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "date_updated": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "direction": "outbound-api",
                          "from": "+14158141829",
                          "price": "-0.02000",
                          "sid": "SM800f449d0399ed014aae2bcc0cc2f2ec",
                          "status": "sent",
                          "to": "+14159978453",
                          "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages/SM800f449d0399ed014aae2bcc0cc2f2ec.json"
                      }
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "account_sid": {
                                  "description": "The unique id of the Account that sent this SMS message.",
                                  "type": "string"
                              },
                              "api_version": {
                                  "description": "The version of the Twilio API used to process the SMS message.",
                                  "type": "string"
                              },
                              "body": {
                                  "description": "The text body of the SMS message. Up to 160 characters long.",
                                  "type": "string"
                              },
                              "date_created": {
                                  "description": "The date that this resource was created, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_sent": {
                                  "description": "The date that the SMS was sent. For incoming messages, this is the date that Twilio received the SMS. The date is given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_updated": {
                                  "description": "The date that this resource was last updated, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "direction": {
                                  "description": "The direction of this SMS message. inbound for incoming messages, outbound-api for messages initiated via the REST API, outbound-call for messages initiated during a call or outbound-reply for messages initiated in response to an incoming SMS.",
                                  "type": "string"
                              },
                              "from": {
                                  "description": "The phone number that initiated the message in E.164 format. For incoming messages, this will be the remote phone. For outgoing messages, this will be one of your Twilio phone numbers.",
                                  "type": "string"
                              },
                              "price": {
                                  "description": "The amount billed for the message, in the currency associated with the account.",
                                  "type": "string"
                              },
                              "price_unit": {
                                  "description": "The currency in which Price is measured, in ISO 4127 format (e.g. usd, eur, jpy).",
                                  "type": "string"
                              },
                              "sid": {
                                  "description": "",
                                  "type": "string"
                              },
                              "status": {
                                  "description": "The status of this SMS message. Either queued, sending, sent,failed, or received.",
                                  "enum": [
                                      "queued",
                                      "sending",
                                      "sent",
                                      "failed",
                                      "received"
                                  ]
                              },
                              "to": {
                                  "description": "The phone number that received the message in E.164 format. For incoming messages, this will be one of your Twilio phone numbers. For outgoing messages, this will be the remote phone.",
                                  "type": "string"
                              },
                              "uri": {
                                  "description": "The URI for this resource, relative to https://api.twilio.com",
                                  "type": "string"
                              }
                          }
                      }
      /ShortCodes{mediaTypeExtension}:
        type: mediaTypeExt
        get:
          description: |
            Returns a list of ShortCode resource representations, each representing a
            short code within your account. The list includes paging information.
          queryParameters:
            ShortCode:
              description: |
                Only show the ShortCode resources that match this pattern. You can
                specify partial numbers and use '*' as a wildcard for any digit.
              type: string
            FriendlyName:
              description: |
                Only show the ShortCode resources with friendly names that exactly match
                this name.
              type: string
          responses:
            200:
              body:
                application/json:
                  example: |
                    {
                        "start": 0,
                        "total": 261,
                        "num_pages": 6,
                        "page": 0,
                        "page_size": 50,
                        "end": 49,
                        "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json",
                        "first_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=0&PageSize=50",
                        "last_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=5&PageSize=50",
                        "next_page_uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages.json?Page=1&PageSize=50",
                        "previous_page_uri": null,
                        "sms_messages": [
                            {
                                "account_sid": "AC5ef872f6da5a21de157d80997a64bd33",
                                "api_version": "2008-08-01",
                                "body": "Hey Jenny why aren't you returning my calls?",
                                "date_created": "Mon, 16 Aug 2010 03:45:01 +0000",
                                "date_sent": "Mon, 16 Aug 2010 03:45:03 +0000",
                                "date_updated": "Mon, 16 Aug 2010 03:45:03 +0000",
                                "direction": "outbound-api",
                                "from": "+14158141829",
                                "price": "-0.02000",
                                "sid": "SM800f449d0399ed014aae2bcc0cc2f2ec",
                                "status": "sent",
                                "to": "+14159978453",
                                "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages/SM800f449d0399ed014aae2bcc0cc2f2ec.json"
                            }
                        ]
                    }
                  schema: |
                    {
                        "": "http://json-schema.org/draft-03/schema",
                        "type": "object",
                        "properties": {
                            "end": {
                                "type": "integer"
                            },
                            "first_page_uri": {
                                "type": "string"
                            },
                            "last_page_uri": {
                                "type": "string"
                            },
                            "next_page_uri": {
                                "type": "string"
                            },
                            "num_pages": {
                                "type": "integer"
                            },
                            "page": {
                                "type": "integer"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "previous_page_uri": {
                                "type": "string"
                            },
                            "start": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            },
                            "uri": {
                                "type": "string"
                            },
                            "sms_messages": [
                                {
                                    "account_sid": {
                                        "type": "string"
                                    },
                                    "api_version": {
                                        "type": "string"
                                    },
                                    "body": {
                                        "type": "string"
                                    },
                                    "date_created": {
                                        "type": "string"
                                    },
                                    "date_sent": {
                                        "type": "string"
                                    },
                                    "date_updated": {
                                        "type": "string"
                                    },
                                    "direction": {
                                        "type": "string"
                                    },
                                    "from": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "string"
                                    },
                                    "price_unit": {
                                        "type": "string"
                                    },
                                    "sid": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "enum": [
                                            "queued",
                                            "sending",
                                            "sent",
                                            "failed",
                                            "received"
                                        ]
                                    },
                                    "to": {
                                        "type": "string"
                                    },
                                    "uri": {
                                        "type": "string"
                                    }
                                }
                            ],
                            "type": "array"
                        }
                    }
        /{ShortCodeSid}:
          type: base
          uriParameters:
            ShortCodeSid:
              type: string
          get:
            description: Get a single message.
            responses:
              200:
                body:
                  application/json:
                    example: |
                      {
                          "account_sid": "AC5ef872f6da5a21de157d80997a64bd33",
                          "api_version": "2008-08-01",
                          "body": "Hey Jenny why aren't you returning my calls?",
                          "date_created": "Mon, 16 Aug 2010 03:45:01 +0000",
                          "date_sent": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "date_updated": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "direction": "outbound-api",
                          "from": "+14158141829",
                          "price": "-0.02000",
                          "sid": "SM800f449d0399ed014aae2bcc0cc2f2ec",
                          "status": "sent",
                          "to": "+14159978453",
                          "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages/SM800f449d0399ed014aae2bcc0cc2f2ec.json"
                      }
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "account_sid": {
                                  "description": "The unique id of the Account that sent this SMS message.",
                                  "type": "string"
                              },
                              "api_version": {
                                  "description": "The version of the Twilio API used to process the SMS message.",
                                  "type": "string"
                              },
                              "body": {
                                  "description": "The text body of the SMS message. Up to 160 characters long.",
                                  "type": "string"
                              },
                              "date_created": {
                                  "description": "The date that this resource was created, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_sent": {
                                  "description": "The date that the SMS was sent. For incoming messages, this is the date that Twilio received the SMS. The date is given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_updated": {
                                  "description": "The date that this resource was last updated, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "direction": {
                                  "description": "The direction of this SMS message. inbound for incoming messages, outbound-api for messages initiated via the REST API, outbound-call for messages initiated during a call or outbound-reply for messages initiated in response to an incoming SMS.",
                                  "type": "string"
                              },
                              "from": {
                                  "description": "The phone number that initiated the message in E.164 format. For incoming messages, this will be the remote phone. For outgoing messages, this will be one of your Twilio phone numbers.",
                                  "type": "string"
                              },
                              "price": {
                                  "description": "The amount billed for the message, in the currency associated with the account.",
                                  "type": "string"
                              },
                              "price_unit": {
                                  "description": "The currency in which Price is measured, in ISO 4127 format (e.g. usd, eur, jpy).",
                                  "type": "string"
                              },
                              "sid": {
                                  "description": "",
                                  "type": "string"
                              },
                              "status": {
                                  "description": "The status of this SMS message. Either queued, sending, sent,failed, or received.",
                                  "enum": [
                                      "queued",
                                      "sending",
                                      "sent",
                                      "failed",
                                      "received"
                                  ]
                              },
                              "to": {
                                  "description": "The phone number that received the message in E.164 format. For incoming messages, this will be one of your Twilio phone numbers. For outgoing messages, this will be the remote phone.",
                                  "type": "string"
                              },
                              "uri": {
                                  "description": "The URI for this resource, relative to https://api.twilio.com",
                                  "type": "string"
                              }
                          }
                      }
          post:
            description: |
              Tries to update the shortcode's properties, and returns the updated
              resource representation if successful.
            body:
              application/x-www-form-urlencoded:
                formParameters:
                  FriendlyName:
                    description: |
                      A human readable description of the short code, with maximum
                      length 64 characters.
                    type: string
                    maxLength: 64
                  ApiVersion:
                    description: |
                      SMSs to this short code will start a new TwiML session with this
                      API version. Either 2010-04-01 or 2008-08-01.
                    enum:
                      - '2010-04-01'
                      - '2008-08-01'
                  SmsUrl:
                    description: |
                      The URL that Twilio should request when somebody sends an SMS to
                      the short code.
                    type: string
                  SmsMethod:
                    description: |
                      The HTTP method that should be used to request the SmsUrl. Either
                      GET or POST.
                    enum: [ GET, POST ]
                  SmsFallbackUrl:
                    description: |
                      A URL that Twilio will request if an error occurs requesting or
                      executing the TwiML at the SmsUrl.
                    type: string
                  SmsFallbackMethod:
                    description: |
                      The HTTP method that should be used to request the SmsUrl. Either
                      GET or POST.
                    enum: [ GET, POST ]
            responses:
              200:
                body:
                  application/json:
                    example: |
                      {
                          "account_sid": "AC5ef872f6da5a21de157d80997a64bd33",
                          "api_version": "2008-08-01",
                          "body": "Hey Jenny why aren't you returning my calls?",
                          "date_created": "Mon, 16 Aug 2010 03:45:01 +0000",
                          "date_sent": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "date_updated": "Mon, 16 Aug 2010 03:45:03 +0000",
                          "direction": "outbound-api",
                          "from": "+14158141829",
                          "price": "-0.02000",
                          "sid": "SM800f449d0399ed014aae2bcc0cc2f2ec",
                          "status": "sent",
                          "to": "+14159978453",
                          "uri": "/2010-04-01/Accounts/AC5ef872f6da5a21de157d80997a64bd33/SMS/Messages/SM800f449d0399ed014aae2bcc0cc2f2ec.json"
                      }
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "account_sid": {
                                  "description": "The unique id of the Account that sent this SMS message.",
                                  "type": "string"
                              },
                              "api_version": {
                                  "description": "The version of the Twilio API used to process the SMS message.",
                                  "type": "string"
                              },
                              "body": {
                                  "description": "The text body of the SMS message. Up to 160 characters long.",
                                  "type": "string"
                              },
                              "date_created": {
                                  "description": "The date that this resource was created, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_sent": {
                                  "description": "The date that the SMS was sent. For incoming messages, this is the date that Twilio received the SMS. The date is given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_updated": {
                                  "description": "The date that this resource was last updated, given in RFC 2822 format.",
                                  "type": "string"
                              },
                              "direction": {
                                  "description": "The direction of this SMS message. inbound for incoming messages, outbound-api for messages initiated via the REST API, outbound-call for messages initiated during a call or outbound-reply for messages initiated in response to an incoming SMS.",
                                  "type": "string"
                              },
                              "from": {
                                  "description": "The phone number that initiated the message in E.164 format. For incoming messages, this will be the remote phone. For outgoing messages, this will be one of your Twilio phone numbers.",
                                  "type": "string"
                              },
                              "price": {
                                  "description": "The amount billed for the message, in the currency associated with the account.",
                                  "type": "string"
                              },
                              "price_unit": {
                                  "description": "The currency in which Price is measured, in ISO 4127 format (e.g. usd, eur, jpy).",
                                  "type": "string"
                              },
                              "sid": {
                                  "description": "",
                                  "type": "string"
                              },
                              "status": {
                                  "description": "The status of this SMS message. Either queued, sending, sent,failed, or received.",
                                  "enum": [
                                      "queued",
                                      "sending",
                                      "sent",
                                      "failed",
                                      "received"
                                  ]
                              },
                              "to": {
                                  "description": "The phone number that received the message in E.164 format. For incoming messages, this will be one of your Twilio phone numbers. For outgoing messages, this will be the remote phone.",
                                  "type": "string"
                              },
                              "uri": {
                                  "description": "The URI for this resource, relative to https://api.twilio.com",
                                  "type": "string"
                              }
                          }
                      }
    # Usage
    /Usage:
      /Records{mediaTypeExtension}:
        type: mediaTypeExt
        get:
          description: |
            Returns UsageRecords for all usage categories. The list includes paging
            information.
            By default, the UsageRecords resource will return one UsageRecord for
            each Category, representing all usage accrued all-time for the account.
            You can filter the usage Category or change the date-range over which usage
            is counted using optional GET query parameters.
          queryParameters:
            Category:
              description: Only include usage of this usage category.
              type: string
            StartDate:
              description: |
                Only include usage that has occurred on or after this date. Format is
                YYYY-MM-DD. All dates are in GMT. As a convenience, you can also specify
                offsets to today. For example, StartDate=-30days will make StartDate
                be 30 days before today.
              type: string
            EndDate:
              description: |
                Only include usage that has occurred on or before this date. Format is
                YYYY-MM-DD. All dates are in GMT. As a convenience, you can also specify
                offsets to today. For example, EndDate=+30days will make EndDate be 30
                days from today.
              type: string
          responses:
            200:
              body:
                application/json:
                  schema: |
                    {
                        "": "http://json-schema.org/draft-03/schema",
                        "type": "object",
                        "properties": {
                            "first_page_uri": {
                                "type": "string"
                            },
                            "num_pages": {
                                "type": "integer"
                            },
                            "previous_page_uri": {
                                "type": "string"
                            },
                            "uri": {
                                "type": "string"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "start": {
                                "type": "integer"
                            },
                            "usage_records": [
                                {
                                    "properties": {
                                        "category": {
                                            "type": "string"
                                        },
                                        "count": {
                                            "type": "string"
                                        },
                                        "price_unit": {
                                            "type": "string"
                                        },
                                        "subresource_uris": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "end_date": {
                                            "type": "string"
                                        },
                                        "usage_unit": {
                                            "type": "string"
                                        },
                                        "price": {
                                            "type": "string"
                                        },
                                        "uri": {
                                            "type": "string"
                                        },
                                        "account_sid": {
                                            "type": "string"
                                        },
                                        "usage": {
                                            "type": "string"
                                        },
                                        "start_date": {
                                            "type": "string"
                                        },
                                        "count_unit": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            ],
                            "next_page_uri": {
                                "type": "string"
                            },
                            "end": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            },
                            "last_page_uri": {
                                "type": "string"
                            },
                            "page": {
                                "type": "integer"
                            }
                        }
                    }
                  example: |
                    {
                        "first_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Page=0&PageSize=50",
                        "num_pages": 1,
                        "previous_page_uri": null,
                        "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json",
                        "page_size": 50,
                        "start": 0,
                        "usage_records": [
                            {
                                "category": "shortcodes-customerowned",
                                "count": "0",
                                "price_unit": "usd",
                                "subresource_uris": null,
                                "description": "Customer Owned ShortCodes",
                                "end_date": "2012-09-30",
                                "usage_unit": "shortcodes",
                                "price": "0",
                                "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Category=shortcodes-customerowned&StartDate=2012-09-01&EndDate=2012-09-30",
                                "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                                "usage": "0",
                                "start_date": "2012-09-01",
                                "count_unit": "shortcodes"
                            },
                            {
                                "category": "sms-inbound-shortcode",
                                "count": "0",
                                "price_unit": "usd",
                                "subresource_uris": null,
                                "description": "Inbound ShortCode SMS",
                                "end_date": "2012-09-30",
                                "usage_unit": "messages",
                                "price": "0",
                                "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Category=sms-inbound-shortcode&StartDate=2012-09-01&EndDate=2012-09-30",
                                "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                                "usage": "0",
                                "start_date": "2012-09-01",
                                "count_unit": "messages"
                            }
                        ],
                        "next_page_uri": null,
                        "end": 24,
                        "total": 25,
                        "last_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Page=0&PageSize=50",
                        "page": 0
                    }
        /{Subresource}{mediaTypeExtension}:
          uriParameters:
            Subresource:
              enum:
                - Daily
                - Monthly
                - Yearly
                - AllTime
                - Today
                - Yesterday
                - ThisMonth
                - LastMonth
          type: mediaTypeExt
          get:
            description: |
              Returns UsageRecords for all usage categories for a specified period.
            responses:
              200:
                body:
                  application/json:
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "first_page_uri": {
                                  "type": "string"
                              },
                              "num_pages": {
                                  "type": "integer"
                              },
                              "previous_page_uri": {
                                  "type": "string"
                              },
                              "uri": {
                                  "type": "string"
                              },
                              "page_size": {
                                  "type": "integer"
                              },
                              "start": {
                                  "type": "integer"
                              },
                              "usage_records": [
                                  {
                                      "properties": {
                                          "category": {
                                              "type": "string"
                                          },
                                          "count": {
                                              "type": "string"
                                          },
                                          "price_unit": {
                                              "type": "string"
                                          },
                                          "subresource_uris": {
                                              "type": "string"
                                          },
                                          "description": {
                                              "type": "string"
                                          },
                                          "end_date": {
                                              "type": "string"
                                          },
                                          "usage_unit": {
                                              "type": "string"
                                          },
                                          "price": {
                                              "type": "string"
                                          },
                                          "uri": {
                                              "type": "string"
                                          },
                                          "account_sid": {
                                              "type": "string"
                                          },
                                          "usage": {
                                              "type": "string"
                                          },
                                          "start_date": {
                                              "type": "string"
                                          },
                                          "count_unit": {
                                              "type": "string"
                                          }
                                      },
                                      "type": "object"
                                  }
                              ],
                              "next_page_uri": {
                                  "type": "string"
                              },
                              "end": {
                                  "type": "integer"
                              },
                              "total": {
                                  "type": "integer"
                              },
                              "last_page_uri": {
                                  "type": "string"
                              },
                              "page": {
                                  "type": "integer"
                              }
                          }
                      }
                    example: |
                      {
                          "first_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Page=0&PageSize=50",
                          "num_pages": 1,
                          "previous_page_uri": null,
                          "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json",
                          "page_size": 50,
                          "start": 0,
                          "usage_records": [
                              {
                                  "category": "shortcodes-customerowned",
                                  "count": "0",
                                  "price_unit": "usd",
                                  "subresource_uris": null,
                                  "description": "Customer Owned ShortCodes",
                                  "end_date": "2012-09-30",
                                  "usage_unit": "shortcodes",
                                  "price": "0",
                                  "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Category=shortcodes-customerowned&StartDate=2012-09-01&EndDate=2012-09-30",
                                  "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                                  "usage": "0",
                                  "start_date": "2012-09-01",
                                  "count_unit": "shortcodes"
                              },
                              {
                                  "category": "sms-inbound-shortcode",
                                  "count": "0",
                                  "price_unit": "usd",
                                  "subresource_uris": null,
                                  "description": "Inbound ShortCode SMS",
                                  "end_date": "2012-09-30",
                                  "usage_unit": "messages",
                                  "price": "0",
                                  "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Category=sms-inbound-shortcode&StartDate=2012-09-01&EndDate=2012-09-30",
                                  "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                                  "usage": "0",
                                  "start_date": "2012-09-01",
                                  "count_unit": "messages"
                              }
                          ],
                          "next_page_uri": null,
                          "end": 24,
                          "total": 25,
                          "last_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/LastMonth.json?Page=0&PageSize=50",
                          "page": 0
                      }
      /Triggers{mediaTypeExtension}:
        type: mediaTypeExt
        get:
          description: |
            Returns a list of UsageTrigger resource representations. The list includes
            paging information.
            By default, all UsageTriggers are returned. You can filter the list by
            specifying one or more query parameters. Note that the query parameters are
            case-sensitive
          queryParameters:
            Recurring:
              description: |
                Only show UsageTriggers that count over this interval. One of daily,
                monthly, or yearly. To retrieve non-recurring triggers, leave this empty
                or use alltime.
              type: string
            UsageCategory:
              description: |
                Only show UsageTriggers that watch this usage category. Must be one of
                the supported usage categories.
              type: string
            TriggerBy:
              description: |
                Only show UsageTriggers that trigger by this field in the UsageRecord.
                Must be one of: count, usage, or price as described in the UsageRecords
                documentation.
              enum:
                - count
                - usage
                - price
          responses:
            200:
              body:
                application/json:
                  schema: |
                    {
                        "": "http://json-schema.org/draft-03/schema",
                        "type": "object",
                        "properties": {
                            "first_page_uri": {
                                "type": "string"
                            },
                            "end": {
                                "type": "integer"
                            },
                            "previous_page_uri": {
                                "type": "string"
                            },
                            "usage_triggers": [
                                {
                                    "properties": {
                                        "sid": {
                                            "type": "string"
                                        },
                                        "date_created": {
                                            "type": "string"
                                        },
                                        "date_updated": {
                                            "type": "string"
                                        },
                                        "account_sid": {
                                            "type": "string"
                                        },
                                        "friendly_name": {
                                            "type": "string"
                                        },
                                        "recurring": {
                                            "type": "string"
                                        },
                                        "usage_category": {
                                            "type": "string"
                                        },
                                        "trigger_by": {
                                            "enum": [
                                                "count",
                                                "usage",
                                                "price"
                                            ]
                                        },
                                        "trigger_value": {
                                            "type": "string"
                                        },
                                        "current_value": {
                                            "type": "string"
                                        },
                                        "usage_record_uri": {
                                            "type": "string"
                                        },
                                        "callback_url": {
                                            "type": "string"
                                        },
                                        "callback_method": {
                                            "enum": [
                                                "GET",
                                                "POST"
                                            ]
                                        },
                                        "date_fired": {
                                            "type": "string"
                                        },
                                        "uri": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            ],
                            "type": "array",
                            "uri": {
                                "type": "string"
                            },
                            "page_size": {
                                "type": "integer"
                            },
                            "start": {
                                "type": "integer"
                            },
                            "next_page_uri": {
                                "type": "string"
                            },
                            "num_pages": {
                                "type": "integer"
                            },
                            "total": {
                                "type": "integer"
                            },
                            "last_page_uri": {
                                "type": "string"
                            },
                            "page": {
                                "type": "integer"
                            }
                        }
                    }
                  example: |
                    {
                        "first_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers/.json?UsageCategory=calls&Recurring=daily&Page=0&PageSize=50",
                        "end": 0,
                        "previous_page_uri": null,
                        "usage_triggers": [
                            {
                                "usage_record_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records/Today.json?Category=calls",
                                "date_updated": "Sat, 29 Sep 2012 19:42:57 +0000",
                                "date_fired": null,
                                "friendly_name": "a trigger",
                                "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers//UTc2db285b0cbf4c60a2f1a8db237a5fba.json",
                                "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                                "callback_method": "POST",
                                "trigger_by": "count",
                                "sid": "UTc2db285b0cbf4c60a2f1a8db237a5fba",
                                "current_value": "0",
                                "date_created": "Sun, 23 Sep 2012 23:07:29 +0000",
                                "callback_url": "http://www.google.com",
                                "recurring": "daily",
                                "usage_category": "calls",
                                "trigger_value": "0.000000"
                            }
                        ],
                        "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers.json?UsageCategory=calls&Recurring=daily",
                        "page_size": 50,
                        "start": 0,
                        "next_page_uri": null,
                        "num_pages": 1,
                        "total": 1,
                        "last_page_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers.json?UsageCategory=calls&Recurring=daily&Page=0&PageSize=50",
                        "page": 0
                    }
        post:
          description: |
            Creates a new UsageTrigger. Each account can create up to 1,000 UsageTriggers.
            Currently, UsageTriggers that are no longer active are not deleted automatically.
            Use DELETE to delete triggers you no longer need.
          body:
            application/x-www-form-urlencoded:
              formParameters:
                UsageCategory:
                  description: |
                    The trigger will watch this usage category. One of the supported usage
                    categories.
                  type: string
                  required: true
                TriggerValue:
                  description: |
                    The trigger will fire when usage reaches this value. For convenience,
                    you can use an offset like +30, which tells Twilio to create the
                    UsageTrigger with its TriggerValue 30 units higher than the current
                    usage. (just be sure to urlencode the + as %2B).
                  type: string
                  required: true
                CallbackUrl:
                  description: |
                    Twilio will make a request to this url when the trigger fires.
                  type: string
                  required: true
                FriendlyName:
                  description: |
                    A human readable description of the new trigger. Maximum 64 characters.
                  type: string
                TriggerBy:
                  description: |
                    The field in the UsageRecord that will fire the trigger. One of count,
                    usage, or price as described in the UsageRecords documentation. The
                    default is usage.
                  enum:
                    - count
                    - usage
                    - price
                  default: usage
                Recurring:
                  description: |
                    To make a recurring trigger that counts over its recurring interval,
                    set this to one of: daily, monthly, or yearly. Omit this to create a
                    non-recurring trigger.
                  type: string
                CallbackMethod:
                  description: |
                    Twilio will use this HTTP method when making a request to the CallbackUrl.
                    GET or POST. The default is POST.
                  enum: [ GET, POST ]
          responses:
            201:
              body:
                application/json:
                  schema: |
                    {
                        "": "http://json-schema.org/draft-03/schema",
                        "type": "object",
                        "properties": {
                            "sid": {
                                "description": "The trigger's unique Sid.",
                                "type": "string"
                            },
                            "date_created": {
                                "description": "The date the trigger was created, given as GMT RFC 2822 format.",
                                "type": "string"
                            },
                            "date_updated": {
                                "description": "The date the trigger was last updated, given as GMT RFC 2822 format.",
                                "type": "string"
                            },
                            "account_sid": {
                                "description": "The account this trigger monitors.",
                                "type": "string"
                            },
                            "friendly_name": {
                                "description": "A user-specified, human-readable name for the trigger.",
                                "type": "string"
                            },
                            "recurring": {
                                "description": "How this trigger recurs. Empty for non-recurring triggers. One of daily, monthly, or yearly for recurring triggers. A trigger will only fire once during each recurring period. Recurring periods are in GMT.",
                                "type": "string"
                            },
                            "usage_category": {
                                "description": "The usage category the trigger watches. One of the supported usage categories.",
                                "type": "string"
                            },
                            "trigger_by": {
                                "description": "The field in the UsageRecord that fires the trigger. One of count, usage, or price.",
                                "enum": [
                                    "count",
                                    "usage",
                                    "price"
                                ]
                            },
                            "trigger_value": {
                                "description": "The value at which the trigger will fire. Must be a positive numeric value.",
                                "type": "string"
                            },
                            "current_value": {
                                "description": "The current value of the field the trigger is watching.",
                                "type": "string"
                            },
                            "usage_record_uri": {
                                "description": "The URI of the UsageRecord this trigger is watching, relative to https://api.twilio.com.",
                                "type": "string"
                            },
                            "callback_url": {
                                "description": "Twilio will make a request to this url when the trigger fires.",
                                "type": "string"
                            },
                            "callback_method": {
                                "description": "The HTTP method Twilio will use when making a request to the CallbackUrl. GET or POST.",
                                "enum": [
                                    "GET",
                                    "POST"
                                ]
                            },
                            "date_fired": {
                                "description": "The date the trigger was last fired, given as GMT RFC 2822 format.",
                                "type": "string"
                            },
                            "uri": {
                                "description": "The URI for this resource, relative to https://api.twilio.com.",
                                "type": "string"
                            }
                        }
                    }
                  example: |
                    {
                        "usage_record_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records.json?Category=calls",
                        "date_updated": "Sat, 29 Sep 2012 19:47:54 +0000",
                        "date_fired": null,
                        "friendly_name": "Trigger for calls at usage of 500",
                        "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers/UT33c6aeeba34e48f38d6899ea5b765ad4.json",
                        "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                        "callback_method": "POST",
                        "trigger_by": "usage",
                        "sid": "UT33c6aeeba34e48f38d6899ea5b765ad4",
                        "current_value": "21",
                        "date_created": "Sat, 29 Sep 2012 19:45:43 +0000",
                        "callback_url": "http://www.example.com/",
                        "recurring": null,
                        "usage_category": "calls",
                        "trigger_value": "500.000000"
                    }
        /{UsageTriggerSid}{mediaTypeExtension}:
          type: mediaTypeExt
          uriParameters:
            UsageTriggerSid:
              type: string
          get:
            description: Returns a repesentation of the UsageTrigger.
            responses:
              200:
                body:
                  application/json:
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "sid": {
                                  "description": "The trigger's unique Sid.",
                                  "type": "string"
                              },
                              "date_created": {
                                  "description": "The date the trigger was created, given as GMT RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_updated": {
                                  "description": "The date the trigger was last updated, given as GMT RFC 2822 format.",
                                  "type": "string"
                              },
                              "account_sid": {
                                  "description": "The account this trigger monitors.",
                                  "type": "string"
                              },
                              "friendly_name": {
                                  "description": "A user-specified, human-readable name for the trigger.",
                                  "type": "string"
                              },
                              "recurring": {
                                  "description": "How this trigger recurs. Empty for non-recurring triggers. One of daily, monthly, or yearly for recurring triggers. A trigger will only fire once during each recurring period. Recurring periods are in GMT.",
                                  "type": "string"
                              },
                              "usage_category": {
                                  "description": "The usage category the trigger watches. One of the supported usage categories.",
                                  "type": "string"
                              },
                              "trigger_by": {
                                  "description": "The field in the UsageRecord that fires the trigger. One of count, usage, or price.",
                                  "enum": [
                                      "count",
                                      "usage",
                                      "price"
                                  ]
                              },
                              "trigger_value": {
                                  "description": "The value at which the trigger will fire. Must be a positive numeric value.",
                                  "type": "string"
                              },
                              "current_value": {
                                  "description": "The current value of the field the trigger is watching.",
                                  "type": "string"
                              },
                              "usage_record_uri": {
                                  "description": "The URI of the UsageRecord this trigger is watching, relative to https://api.twilio.com.",
                                  "type": "string"
                              },
                              "callback_url": {
                                  "description": "Twilio will make a request to this url when the trigger fires.",
                                  "type": "string"
                              },
                              "callback_method": {
                                  "description": "The HTTP method Twilio will use when making a request to the CallbackUrl. GET or POST.",
                                  "enum": [
                                      "GET",
                                      "POST"
                                  ]
                              },
                              "date_fired": {
                                  "description": "The date the trigger was last fired, given as GMT RFC 2822 format.",
                                  "type": "string"
                              },
                              "uri": {
                                  "description": "The URI for this resource, relative to https://api.twilio.com.",
                                  "type": "string"
                              }
                          }
                      }
                    example: |
                      {
                          "usage_record_uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Records.json?Category=calls",
                          "date_updated": "Sat, 29 Sep 2012 19:47:54 +0000",
                          "date_fired": null,
                          "friendly_name": "Trigger for calls at usage of 500",
                          "uri": "/2010-04-01/Accounts/ACed70abd024d3f57a4027b5dc2ca88d5b/Usage/Triggers/UT33c6aeeba34e48f38d6899ea5b765ad4.json",
                          "account_sid": "ACed70abd024d3f57a4027b5dc2ca88d5b",
                          "callback_method": "POST",
                          "trigger_by": "usage",
                          "sid": "UT33c6aeeba34e48f38d6899ea5b765ad4",
                          "current_value": "21",
                          "date_created": "Sat, 29 Sep 2012 19:45:43 +0000",
                          "callback_url": "http://www.example.com/",
                          "recurring": null,
                          "usage_category": "calls",
                          "trigger_value": "500.000000"
                      }
          post:
            description: |
              Tries to update the UsageTrigger's properties, and returns the updated
              resource representation if successful.
            body:
              application/x-www-form-urlencoded:
                formParameters:
                  FriendlyName:
                    description: A human-readable name for the trigger.
                    type: string
                  CallbackUrl:
                    description: |
                      Twilio will make a request to this url when the trigger fires.
                    type: string
                  CallbackMethod:
                    description: |
                      The HTTP method Twilio will use when making a request to the
                      CallbackUrl. GET or POST.
                    enum: [ GET, POST ]
            responses:
              201:
                body:
                  application/json:
                    schema: |
                      {
                          "": "http://json-schema.org/draft-03/schema",
                          "type": "object",
                          "properties": {
                              "sid": {
                                  "description": "The trigger's unique Sid.",
                                  "type": "string"
                              },
                              "date_created": {
                                  "description": "The date the trigger was created, given as GMT RFC 2822 format.",
                                  "type": "string"
                              },
                              "date_updated": {
                                  "description": "The date the trigger was last updated, given as GMT RFC 2822 format.",
                                  "type": "string"
                              },
                              "account_sid": {
[...]
